
 li {
  display: inline;
  padding: 10px;
}

ul {
  margin-left:  auto;
  width: 75vw;
}

.start {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
h1 {
  text-align: center;
  margin: 40px;
}
h3 {
  color:red;
  text-align: center;
  margin-bottom: 20px;
}
a {
  margin-left: 30px;
}
p {
 
  margin-left: 20px;
}
.subject {
  margin-top : 90px;
  
}
.subject__img {
  display: flex;
  width: 50vw;
  margin: auto auto;
}

img {
  margin-bottom: 20px;
}


.subject__content {
  display: flex;
  flex-direction: column;
}
.comment__box {
  padding: 30px;
}
.comment__author {
  margin-left: 20px;
  margin-bottom: 20px;
}
.subject__title , .subject__author{
  margin-left: 20px;
  margin-bottom: 5px;

}

.comment {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}